body{
    background-image: url(main.jpg);
    background-attachment: fixed;
    font-size: 20px;
    font-family: system-ui;
    background-size: cover;
    color: black;
}

details {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5em 0.5em 0;
    width: 600px;
    margin-top: 10px;
    background-color: whitesmoke;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;

    list-style: none;
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
}



details[open] {
    padding: 0.5em;
    background-color: whitesmoke;
    color: black;
}


details[open] summary {
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 0.5em;
    width: 600px;
    background-color: whitesmoke;
    color: black;
}

h2 {
    margin-top: 1em;
}

.title{
    text-decoration: underline;
}

.des{
    margin-left: 3%;
}